/*경력*/

.his_rsm{
    padding: 0 5%;
    margin-top: 3%;
}

.rsm li{
    color: black;
    list-style: none;
    padding-top: 20px;
}

.rsm_li_btn{
    background-color: rgba(0, 0, 0, 0);
    font-size: large;
    border: none;
}

/*할 수 있는 일*/

/*이력서 다운로드*/
.rsm_btn{
    text-align: center;
    margin: 5% 0;
}

.down_btn{
    background-color: rgba(0, 0, 0, 0);
    font-size: 20%;
    border-radius: 15px;
    border-color:rgb(219, 238, 255);
    margin-bottom: 30px;
}

.down_btn a{
    text-decoration: none;
    color: black;
}

.down_btn:hover{
    background-color: rgb(219, 238, 255);
}