.sld_photo{
    text-align: center;
    display: flex;
    overflow: hidden;
}

.sld_img{
    width: 1000px;
    height: 500px;
    margin: 2% 10%;
}

.sld_btn{
    background-color: rgba(0, 0, 0, 0);
    color: gray;
    border-color: rgba(0, 0, 0, 0);
    font-size: 70px;
    width: 50px;
    height: 50px;
    position: relative;
    top: 250px;
}

#sld_next{
    float: right;
    position: relative;
    bottom: 20px;
}
